version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "sssolid"
ignore:
  - dependency-name: "*"
    update-types:
      - "version-update:semver-major"

